<!DOCTYPE html>
    <html lang="es">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Listado de recetas{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}

        <style>
          /* Set black background color, white text and some padding */
          footer {
            background-color: #555;
            color: white;
            padding: 15px;
          }
        </style>

        </head>

       <body>

            {% block cabecera %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">logs</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                           <a href="#" >Home</a>
                        </li>
                        <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Listado <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                               <li><a href="#" >Recetas</a></li>
                           </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}

            <div class="container text-center">
              <div class="row">

                  {% block izquierdo %}
                  <div class="col-sm-3 well">
                      <div class="well">
                        <p><a href="#">My Profile</a></p>
                        <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                      </div>
                      <div class="well">
                        <p><a href="#">Interests</a></p>
                        <p>
                          <span class="label label-default">News</span>
                          <span class="label label-primary">W3Schools</span>
                          <span class="label label-success">Labels</span>
                          <span class="label label-info">Football</span>
                          <span class="label label-warning">Gaming</span>
                          <span class="label label-danger">Friends</span>
                        </p>
                      </div>
                      <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <p><strong>Ey!</strong></p>
                        People are looking at your profile. Find out who.
                      </div>
                      <p><a href="#">enlace1</a></p>
                      <p><a href="#">enlace2</a></p>
                      <p><a href="#">enlace3</a></p>
                   </div>
                  {% endblock %}

                  <div class="col-sm-7">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="panel panel-default text-left">
                            <div class="panel-body">
                              <p contenteditable="true">Status: Feeling Blue</p>
                              <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% block principal %}
                  {% endblock %}
                  </div>

                  {% block derecho %}
                  <div class="col-sm-2 well">
                    <div class="thumbnail">
                      <p>Upcoming Events:</p>
                      <img src="paris.jpg" alt="Paris" width="400" height="300">
                      <p><strong>Paris</strong></p>
                      <p>Fri. 27 November 2015</p>
                      <button class="btn btn-primary">Info</button>
                    </div>
                    <div class="well">
                      <p>ADS</p>
                      <img src="#" alt="Smiley face" height="42" width="42">
                      <p>llega</p>
                    </div>
                    <div class="well">
                      <p>ADS</p>
                    </div>
                  </div>
                  {% endblock %}
            </div>
        </div>
        <footer class="container-fluid text-center">

            {% block foot %}<p>© 2010-2017 - All rights reserved HTML.Design, layout and articles are copyrighted by pepe</p>{% endblock %}

        </footer>

    </body>
</html>
