{% extends "AplBundle::layout.html.twig" %}

{% block principal %}

    {% for receta in recetas %}
    <div class="row">
      <div class="col-sm-12">
            <div class="jumbotron">
              <h1>{{ receta.title }}</h1>
              <p>{{ receta.body }}</p>
            </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}
